@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    word-wrap: break-word;
}

.range {
    -webkit-appearance: none;
    appearance: none;
    top: -25px;
}

.range::-webkit-slider-thumb {
    @apply relative h-7 w-7 rounded-full bg-AlmostWhite cursor-pointer hover:bg-black hover:border-2 hover:border-NeonGreen hover:border-solid;
    -webkit-appearance: none;
    z-index: 10;
}







