@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    word-wrap: break-word;
}

.range {
    -webkit-appearance: none;
    appearance: none;
    top: -25px;
}

.range::-webkit-slider-thumb {
    @apply relative h-7 w-7 rounded-full bg-AlmostWhite cursor-pointer;
    -webkit-appearance: none;
    z-index: 2;
}


.box{
    width: 10px;
}





@media (min-width: 768px) {
    .display{
        width: 540px;
    }
    .generator{
        width: 540px;
    }
    .length{
        font-size: 32px;
    }
    .check label{
        font-size: 18px;
    }
    .strength-text{
        font-size: 18px;
    }
    .generate{
        font-size: 18px;
    }

}